body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f9f8;
    color: #333;
}
nav {
    background-color: #4fa3a5;
    padding: 15px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
header {
    text-align: center;
    padding: 40px;
    background-color: #7bcac3;
    color: white;
}
section {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}
button{
    padding: 10px 20px;
    background-color: #4fa3a5;
    color: white;
    border: none;
    border-radius:  5px;
    cursor: pointer;
}
footer{
    background-color: #4fa3a5;
    color: white;
    text-align: center;
    padding: 15px;
}