body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(230, 250, 238);
    color: aqua;
}
header{
    background-color: aquamarine;
    color: antiquewhite;
    text-align: center;
    padding: 40px 20px;
}
.about, .resources{
    padding: 30px;
    max-width:  800px;
    margin: auto;
}
h2{
    color: #3a8f7a;
}
footer{
    background-color: #3a8f7a;
    color:white;
    text-align: center;
    padding:15px;
    margin-top: 40px;
}